<!-- Services Section -->
    <section id="logistics">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Logistics</h2>
                </div>
            </div>
            <div class="row container">
                <p>
                
                Our EADM Summer School will take place at the Max-Planck-Institute for Human Development, in Berlin.<br><br>There is no participation fee and you might be able to receive funding for your travel costs from your home institution. Regrettably, we are not able to reimburse participant travel costs ourselves. We can provide refreshments during the day and dinners on three evenings during the Summer School.<br><br>We will review applications and send out acceptance notifications in April 2024. 
                
                </p>
            </div>
        </div>
    </section>