<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Organizers</h2>
                </div>
            </div>
            <div class="row container">
                <p>
                
Anne-Marie Nussberger and Dirk Wulff are organizing this Summer School with the invaluable help of Eva-Madeleine Schmidt and Taisiia Tikhomirova.<br><br>This Summer School is generously sponsored by the European Association for Decision-Making (EADM) and supported by the Max-Planck-Institute for Human Development's Center for Adaptive Rationality (ARC) and the Center for Humans and Machines (CHM).
                
                </p>
            </div>
        </div>
    </section>