<!-- Services Section -->
    <section id="organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Organizers</h2>
                </div>
            </div>
            <div class="row container">
                <p>
                
<a href="https://www.mpib-berlin.mpg.de/person/anne-marie-nussberger/367762">Anne-Marie Nussberger</a> and <a href="https://www.mpib-berlin.mpg.de/person/93374/2549">Dirk Wulff</a> are organizing this Summer School with the invaluable help of <a href="https://www.mpib-berlin.mpg.de/staff/eva-madeleine-schmidt">Eva-Madeleine Schmidt</a> and <a href="https://www.mpib-berlin.mpg.de/person/131137">Taisiia Tikhomirova</a>.<br><br>This Summer School is generously sponsored by the <a href="https://eadm.eu/">European Association for Decision-Making</a> (EADM) and supported by the Max Planck Institute for Human Development's <a href="https://www.mpib-berlin.mpg.de/research/research-centers/adaptive-rationality">Center for Adaptive Rationality</a> (ARC) and the <a href="https://www.mpib-berlin.mpg.de/chm">Center for Humans and Machines</a> (CHM).
                
                </p>
            </div>
        </div>
    </section>