<!-- Services Section -->
    <section id="program" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>
            <div class="row container">
                <p style="text-align: justify;">
                  
                  <b>Workshops</b> - Two multi-session, hands-on workshops demonstrating the use of LLMs for behavioral science research and how to study the impact that LLMs and generative AI have on social culture.<br><br> 

<b>Keynotes</b> - Four keynotes by prominent researchers -- featuring Gaël Le Mens, Chiara Longoni, Iyad Rahwan, and Melanie Mitchell -- at the intersection of behavioral science and generative AI.<br><br>

<b>Talks</b> - Four talks highlighting behavioral science research addressing challenges arising from the mass adoption of generative AI.<br><br>

<b>Project work</b> - Two sessions in which you can work on an idea for a joint behavioral science project on LLMs or generative AI, which you can present on the final day of the Summer School.<br><br>

<b>Posters</b> - One session allowing you to present your own work. <br><br>

<b>Social events</b> - Two dinners and a concluding BBQ to facilitate networking.<br><br> 
                
                </p>
            </div>
        </div>
    </section>
