<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><font style="font-size:.5em">EADM Summer School 2024</font><brLLMs in behavioral science<br></div>
                <div class="intro-lead-in">9-13.9.2024</div>
                <div class="intro-lead-in">Max Planck Institute for Human Development, Berlin</div>
                <a href="#intro" class="page-scroll btn btn-xl">Apply by March 17th</a>
            </div>
        </div>
    </header>

    {% include 2017_data/mission.html %}
    {% include 2017_data/program.html %}
    {% include 2017_data/logistics.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/organizers.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    <!---{% include 2017_data/speakers_info.html %}--->
    {% include 2016_data/js.html %}

    </body>
</html>