<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
          <div class="intro-text">
            <div class="row flex-nowrap">
              <div class="col-xs-9 text-left">
                  <div class="intro-heading"><font style="font-size:.5em">EADM Summer School 2024</font><br>LLMs in behavioral science<br></div>
                  <div class="intro-lead-in">9-13 September 2024</div>
                  <div class="intro-lead-in">MPI for Human Development, Berlin</div>
                  <a href="#contact" class="page-scroll btn btn-xl">Apply by March 17</a>
              </div>
              <div class="col-xs-3">
                <img class="flyer" src="https://eadmsummerschool2024.github.io/css/2016_style/img/flyer_eadm.png" height=500px>
              </div>  
          </div>
        </div>
      </div>
    </header>

    {% include 2017_data/mission.html %}
    {% include 2017_data/program.html %}
    {% include 2017_data/logistics.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/organizers.html %}
    {% include 2017_data/apply.html %}
    {% include 2016_data/footer.html %}
    <!---{% include 2017_data/speakers_info.html %}--->
    {% include 2016_data/js.html %}

    </body>
</html>